{% load static %}
<html>
<head>
  <title>InterestDotMeet</title>
  <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
  <link href ="{% static 'style2.css' %}" rel="stylesheet"/>
<!--static folder inside every app should have a folder inside it with app name(maekes easy to locate from which app this style sheet is called) reason to have folder is since static root track asked file from each app in alphabatic order so if to static file have same path after static folder that file from other app may come which might not be your need so better to have a good organisation-->
</head>
<body>
  <header>
    <h1>InterestDotMeet</h1>
    {% if user.is_authenticated %}
      You are signed in as <strong>{{ user.username }}</strong> /

      <a href="{% url 'logout'%}?next=accounts/">logout</a>
    {% endif %}
    <hr>
  </header>
  <main>
    {% for message in messages %}
      <p style="color: {% if message.tags == 'success' %}green{% elif message.tags == 'error' %}red{% endif %}">
        {{ message }}
      </p>
    {% endfor %}
    <!--better to use base_content in place of content it is helpfull in case of nested extention and inclusion of html files using block tag of django-->
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
